user_uuid="011f7edf-de87-4d3b-a025-b91d6ec285d3"
bucket_name="e5952elsgat7u12im14gahwxw6uwshrl"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2