terratowns_endpoint="https://terratowns.cloud/api"
oliveleaf = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/oliveleaf"
  content_version = 2 
}
tartcherry = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/tartcherry"
  content_version = 1 
}